.canvasDiv{
    height: 100vh;
    overflow: hidden;
    color: black
    ;
}
.start{
    position: absolute;
    color: blanchedalmond;
    font-size: xx-large;
    top: 85%;
    left: 50%;
    transform: translate(-50% , -50%);
    -webkit-transform: translate(-50%, -50%);
}
.score{
    position: absolute;
    color: blanchedalmond;
    font-size: xx-large;
    margin-right: 20px;
    right: 0px;
    top: 30px;
}
.bestScore{
    position: absolute;
    color: blanchedalmond;
    font-size: xx-large;
    margin-left: 20px;
    top: 30px;
}
.end{
    position: absolute;
    color: blanchedalmond;
    font-size: xx-large;
    top: 25%;
    line-height: 45px;
    left: 50%;
    transform: translate(-50% , -50%);
    -webkit-transform: translate(-50%, -50%);
    text-align: center;
}

.copyright{
    display: flex;
    align-items: center;
    color: blanchedalmond;
    position: absolute;
    margin-left: 20px;
    bottom: 30px;
}
.copyright:hover{
    cursor: pointer;
}